
<div class="container">
  <div class="py-3 text-left">
    <div class="d-flex flex-row align-items-center mb-2">
    <i class="fas fa-sign-in-alt fa-3x mr-3"></i>
      <h1>Login</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 order-md-1">
      <%= form_for(:session, url: login_path) do |f| %>
        <div class="mb-3">
          <%= f.label :メールアドレス %>
          <%= f.text_field :email,placeholder:'メールアドレスを入力してください', class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :パスワード ,class:'mr-4'%>
          <%= f.label :※パスワードを忘れた方は %>
          <%= link_to "こちら", new_password_reset_path %>
          <%= f.text_field :password,placeholder:'パスワードを入力してください', class: 'form-control',type: "password" %>
        </div>

        <%= f.label :remember_me, class: "checkbox inline mb-3" do %>
          <%= f.check_box :remember_me,class:"mr-2" %>
          <span>Remember me on this computer</span>
        <% end %>

        <%= f.submit "ログイン", class: "btn btn-primary btn-lg btn-block" %>
      <% end %>
    </div>
  </div>
</div>