<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= favicon_link_tag('WebSiteIcon.png') %>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Font Awesome（各種アイコン）を使うためのLink-->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta charset="utf-8">
    <!--スマホのレスポンシブデザインにするためのMeta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <header class="sticky-top">
      <%= render 'layouts/header' %>
    </header>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    <div>
      <%= render 'layouts/footer' %>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>

</html>
